.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-size);
  padding: 0 20px;
  background-color: var(--dark);
}

.navbar a {
  display: flex;
  height: 100%;
  align-items: center;
}

.navbar a img {
  height: 75%;
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 0 2rem;
  }
}
