.auth {
  height: calc(100vh - var(--nav-size));
  text-align: center;
  padding: 3rem;
}

.auth h1 {
  margin: 0;
}

.auth form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3rem;
  min-height: 350px;
  border-radius: 20px;
}

.formGroup {
  margin: 1rem;
}

.formGroup label {
  display: block;
  text-align: start;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.formGroup input {
  display: block;
  width: 92%;
  height: 1.8rem;
  border-radius: 10px;
  border: none;
  padding: 0 10px;
  border: 1px solid black;
}

.formGroup input:focus {
  border: 3px solid var(--sand);
  outline: none;
}

.formGroup .invalidLabel {
  color: var(--red);
}

.formGroup .invalidInput {
  border: 2px solid var(--red);
}

.formGroup span {
  display: block;
  width: 100%;
  color: var(--red);
  font-size: 0.8rem;
  text-align: start;
  margin-top: 0.3rem;
  font-weight: bold;
}

.actions {
  display: flex;
  flex-direction: column;
  margin: 1.3rem 1rem;
}

.actions button {
  border-radius: 5px;
  border: none;
  color: white;
  height: 2rem;
  margin-bottom: 1.3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.actions span {
  color: var(--gray);
  margin: 1rem 0;
}

.actions .danger {
  background-color: var(--red);
}

.actions .success {
  background-color: var(--green);
}

/* Tablet */
@media screen and (min-width: 600px) {
  .formGroup {
    margin: 1rem 8rem;
  }

  .actions {
    margin: 3rem 8rem;
  }

  .actions button {
    border-radius: 5px;
    border: none;
    color: white;
    height: 2.5rem;
    margin-bottom: 2rem;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  .auth {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .auth form {
    width: 600px;
    align-self: center;
  }

  .formGroup {
    margin: 1rem 8rem;
  }

  .actions {
    margin: 3rem 8rem;
  }

  .actions button {
    border-radius: 5px;
    border: none;
    color: white;
    height: 2.5rem;
    margin-bottom: 2rem;
  }
}
